<h2>View Parsed Records</h2>
<section id="fullEncapsulation">
    <!--form id="addFiles" [formGroup]="parseForm" (submit)="parseFile()" [FormAction]="">
        <label>Insert a FlatFile</label>
        <input type="file" id="flatfileInput" formControlName="flatfileInput"/>
        <label>Insert a SpecFile</label>
        <input type="file" id="specfileInput" formControlName="specfileInput"/>
        <button>Parse</button>
    </form-->

    <label>Insert a FlatFile</label>
    <input type="file" id="flatfileInput" (change)="flatfileChosen($event)"/>
    <label>Insert a SpecFile</label>
    <input type="file" id="specfileInput" (change)="specfileChosen($event)"/>
    <button (click)="buttonClicked()">Parse</button>
    <h3>Did we get it? {{user.username}}</h3>

    
    <section id="viewParsed">
        <!--Section includes the user being able to pick filters for their sessions-->
        
        
        <section class="dateBox">
            <label>To:</label>
            <input type="date" id="maxDate"   value="yyyy-mm-dd" class="input-medium search-query" onkeypress="return false">
            <!--Icon to let user pick a date on a calendar-->
            <label>From:</label>
            <input type="date" id="maxDate"   value="yyyy-mm-dd" class="input-medium search-query" onkeypress="return false">
        </section>

        <!--This is a big section,
        1. Allow the user to see the list of sessions from latest to oldest based on range,
        This sessionlist will have a scrollbar to view the list
        2. We have a little arrow telling the user the conversion,
        displaying the flatfile used at the top, and the specfile used below arrow
        3. Third box that renders the JSON of a chosen section -->
        <section id="bigSection">
            
            <div class="box">
                <app-sessions 
                    *ngFor="let session of sessions"
                    [session]="session"
                    (docsEmitter)="transferDocs($event)"
                    ></app-sessions>
            </div>

            <div class="box" id="displayArrow">
                <p>flatfile.txt</p>
                <p>=></p>
                <p>specfile.txt</p>
            </div>

            <div class="box" id="consumeData">
                <app-documents 
                    *ngFor="let document of documents"
                    [document]="document"
                    ></app-documents>
                <!-- <p>\dummy:json,for:test,dummy:json,for:test,dummy:json,for:test,\</p> -->
            </div>
        </section>
    </section>
</section>
